name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  unit-tests:
    uses: ./.github/workflows/unit-tests.yml@${{ github.ref }}

  test:
    needs: [unit-tests]
    uses: ./.github/workflows/test.yml@${{ github.ref }}

  lighthouse:
    needs: [unit-tests]
    uses: ./.github/workflows/lighthouse.yml@${{ github.ref }}

  axe:
    needs: [unit-tests]
    uses: ./.github/workflows/axe.yml@${{ github.ref }}

  publish:
    needs: [test, lighthouse, axe]
    uses: ./.github/workflows/publish.yml@${{ github.ref }}
    if: always() && github.ref == 'refs/heads/main'
    secrets: inherit
